@{
    Layout = "AdminLayout";


}
<link rel="stylesheet" href="~/css/Details.css">


<center>
    <a asp-action="CreateBatch" asp-controller="AdminView">
        <input type="submit" value="Create Batch"/>
    </a>
    <a asp-action="DeleteBatch" asp-controller="AdminView">
        <input type="submit" value="Delete Batch"/>
    </a>
</center>


