@model TraineesManagementSystem.Models.TraineeDetails

@{
    ViewData["Title"] = "Edit";
    Layout = "AdminLayout";
}
<link rel="stylesheet" href="~/css/RegistrationPage.css" asp-append-version="true" />

<center>  <h3>Edit Details</h3></center>
<hr />
<form asp-action="Edit" method="post" asp-controller="AdminView" enctype="multipart/form-data">

    <div id="MainRegistrationDiv">


        <hr />

        <div id="Registration1">
            <label asp-for="TraineeId">Enter Employee Id</label>
 <i style='font-size:22px' class="fa fa-id-card" aria-hidden="true"></i>  <input asp-for="TraineeId" type="text" placeholder="Employee Id" />

            <label asp-for="TraineeName">Enter Employee Name</label>
 <i style='font-size:22px' class='fas'>&#xf508;</i>  <input asp-for="TraineeName" type="text" placeholder="Employee Name" />

            <label asp-for="MobileNumber">Enter Mobile Number</label>
            <i style='font-size:22px' class="fa-solid fa-phone"></i>  <input asp-for="MobileNumber" type="number" placeholder="Mobile Number" />

            <label asp-for="EmailId">Enter Email Id</label>
            <i style='font-size:22px' class="fa-solid fa-envelope"></i>  <input asp-for="EmailId" type="email" placeholder="Email Id" />

            <label asp-for="DateOfBirth">Enter Date Of Birth</label>
            <i style='font-size:22px' class="fa-solid fa-calendar-days"></i>  <input asp-for="DateOfBirth" type="date" placeholder="Date Of Birth" />

            <label asp-for="DateOfJoining">Enter Date Of Joining</label>
            <i style='font-size:22px' class="fa-sharp fa-solid fa-calendar-days"></i>  <input asp-for="DateOfJoining" type="date" placeholder="Date Of Joining" />
        </div>
        <div id="Registration2">
            <label asp-for="University">Enter University</label>
            <i style='font-size:22px' class="fa-solid fa-building-columns"></i>  <input type="text" asp-for="University" placeholder="Enter University" />

            <label asp-for="DegreeCollegeName">Graduation College</label>
            <i style='font-size:22px' class="fa-solid fa-graduation-cap"></i>  <input asp-for="DegreeCollegeName" placeholder="College Name" />

            <label asp-for="Stream">Enter Stream</label>
            <i style='font-size:22px' class="fa-solid fa-layer-group"></i>  <input type="text" asp-for="Stream" placeholder="Enter Stream" />

            <label asp-for="DegreePassedOut">Passed Out</label>
            <i style='font-size:22px' class="fa-solid fa-user-graduate"></i>  <input asp-for="DegreePassedOut" type="date" placeholder="Graduation Passed Out" />

            <label asp-for="DegreePercentage">Enter Percentage</label>
            <i style='font-size:22px' class="fa-solid fa-percent"></i>  <input asp-for="DegreePercentage" type="number" placeholder="Percentage" />
        </div>
    </div>
    <h2 style="text-align:center;">Address</h2>
    <div >
        <div id="MainRegistrationDiv">
            <div class="address">
                <label asp-for="State">Enter State</label>
                <i style='font-size:22px' class="fa-solid fa-map-location-dot"></i>  <input type="text" asp-for="State" placeholder="State" />

                <label asp-for="City">Enter City</label>
                <i style='font-size:22px' class="fa-sharp fa-solid fa-city"></i>  <input type="text" asp-for="City" placeholder="City" />

                <label asp-for="Village">Enter Village</label>
                <i style='font-size:22px' class="fa-solid fa-tree-city"></i>  <input type="text" asp-for="Village" placeholder="Village" />
            </div>
            <div class="address">
                <label asp-for="Street">Enter Street</label>
                <i class="fa-solid fa-road" style='font-size:22px'></i>  <input type="text" asp-for="Street" placeholder="street" />

                <label asp-for="Pincode">Enter Pincode</label>
                <i style='font-size:22px' class="fa-solid fa-list-ol"></i>  <input type="number" asp-for="Pincode" placeholder="Pin Code" />

                <input type="submit" id="submitbtn" value="Save" />
            </div>
        </div>

    </div>
    </div>
</form>


