#Registration1 {
    height: 550px;
    width: 600px;
    margin-right: 45px;
    white-space: pre;
}
#Registration2 {
    float: left;
    white-space: pre;
    height: 550px;
    width: 600px;

}
input {
    padding: 15px;
    border: 2px solid #ccc;
    width: 350px;
    box-sizing: border-box;
    font-family: montserrat;
    color: #2C3E50;
    font-size: 16px;
    text-align:center;
    margin-right:20px;
    height:40px;
 
}
#profileDiv{
    margin-left:90px;
    margin-top:0px;
}
label {
    font-family: montserrat;
    margin-bottom:0px;
    font-size:18px;
}
.address {
    height: 250px;
    white-space: pre;
    width: 600px;
}
   
body {
    background-color: white;
    height:100%;
}
#MainRegistrationDiv {
    display:flex;
    
}
#MainRegistrationDiv2 {
    display:flex;
    clear: both;
}
#userDetails {
    margin-top: 100px;
    border-collapse: collapse;
    width: 100%;
}
th,td {
    border: 2px solid green;
    padding: 10px;
}

#submitbtn {
    margin-top: 28px;
    margin-right: 20px;
    height: 60px;
    border-radius:10px;
    background-color:darkblue;
    color:white;
    font-size:24px;
    text-align:center;
    padding:7px;
}
#AddressId
{
    color:blue;
}
#Register{
    margin-top:5px;
    display:none;
}
hr{
    margin-bottom:5px;
}
