@model TraineesManagementSystem.Models.PaginationProperties
@{
    Layout=null;
}
<div class="container">
    @if (Model.TotalPages > 0)
    {
        <ul class="pagination justify-content-end" style="float:right;display:flex;margin-left:5px;padding:10px;text-decoration:none;list-style:none;">
                
            @for (var pge = Model.StartPage; pge <= Model.EndPge; pge++)

            {
                <li class="page-item @(pge == Model.CurrentPage ? "active" : "")"style="padding-left:30px;"><a class="page-link" asp-controller="AdminView" asp-action="AdminLoginSuccess" asp-route-page="@pge">@pge</a></li>
            }
        </ul>
    }
    